.container {
  background: white;
  width: 978px;
  margin: 30px auto;
  border-radius: 30px;
  min-height: 600px;
}
.main {
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 800px) {
  .container {
    background: white;
    width: 350px;
    border-radius: 30px;
    min-height: 400px;
  }
  .main {
    padding: 30px;
  }
}
