.position-cast {
  margin: 20px auto;
}

.list {
  margin: 0;
  padding: 0;
  width: 800px;
}
.slick-arrow {
  width: 50px;
  height: 50px;
  margin: -50px;
}
.slick-arrow::before {
  background: red;
  color: white;
}
.slick-arrow:hover {
  background: red;
  color: white;
}
.li-block {
  list-style: none;
  margin-right: 10px;
}
